<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bình Chọn Ứng Viên</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vote.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="vote-container">
        <h1>Bình Chọn Ứng Viên</h1>
        <input type="hidden" id="user_id_input" value="{{ user_id }}">
        <!-- Chọn Tỉnh/Thành, Quận/Huyện, Phường/Xã -->
        <div class="location-container">
            <div class="css_select_div">
                <select class="css_select" id="tinh" name="tinh">
                    <option value="0">Chọn Tỉnh Thành</option>
                </select> 
                <select class="css_select" id="quan" name="quan">
                    <option value="0">Chọn Quận Huyện</option>
                </select> 
                <select class="css_select" id="phuong" name="phuong">
                    <option value="0">Chọn Phường Xã</option>
                </select>
                <select class="css_select" id="cuocBauCu" name="cuocBauCu">
                    <option value="0">Chọn Cuộc Bầu Cử</option>
                </select>                
            </div>
        </div>

        <!-- Danh sách ứng viên -->
        <div class="candidate-grid"></div>

        <!-- Nút chức năng -->
        <button class="vote-btn" onclick="submitVote()">Gửi Bình Chọn</button>
        <button class="home-btn" onclick="goHome()">Quay về Trang Chủ</button>
    </div>

    <script src="{{ url_for('static', filename='script/vote.js') }}" defer>
    </script>

</body>
</html>
